@model Movie.Models.Film

@{
    ViewBag.Title = "Sửa Phim";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form>
        <h4 class="m-0 font-weight-bold text-primary text-center">Chỉnh Sửa Phim</h4>
        <div>
            <span class="btn btn-secondary my-2">
                @Html.ActionLink("Trở lại", "Index")
            </span>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <label class = "control-label col-md-2 col-form-label" >Tên Phim</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Link Thân Thiện</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Metatile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Metatile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Avartar</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Avartar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Avartar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Hình Nền</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Background, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Background, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Năm Phát Hành</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Chất Lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Quốc Gia</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Thể Loại</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Đánh Giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rateting, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rateting, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Lượt Xem</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViewCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ViewCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Mô Tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Nội Dung</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Link Trailer</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trailler, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trailler, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Link Video</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Lên Slice</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpSlice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UpSlice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Lên Trang Chủ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpHome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UpHome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Trạng Thái</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Ngày Tạo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2 col-form-label">Người Tạo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thay Đổi" class="btn btn-primary" />
            </div>
        </div>
    </form>
}