@{
    var user = Session["user"] as Movie.Models.Account;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Phim Hay" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="~/Assets/Site/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Site/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Assets/Site/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Assets/Site/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/Assets/Site/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/Assets/Site/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/Assets/Site/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/Assets/Site/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Assets/Site/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/Assets/Site/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/Assets/Site/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Assets/Site/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Assets/Site/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/Site/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <style>
        .ribben {
            padding: 15px 0 0 !important;
            width: 50px !important;
            height: 30px !important;
            border-radius: 5% !important;
        }
    </style>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="@Url.Action("Index","Home")">
                    <h1>One<span>Movies</span></h1>
                </a>
            </div>
            <div class="w3_search">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="w3l_sign_in_register">
                <ul style="display:flex">
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 65</li>

                    @if (Session["user"] != null)
                    {
                        <li><a href="@Url.Action("Logout","Home")">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                    }
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        @if (Session["user"] != null)
        {
            <div class="text-uppercase text-center"> Xin chào: @user.Name</div>
        }
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Sign In & Sign Up
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="w3_login_module">
                            <div class="module form-module">
                                <div class="toggle">
                                    <i class="fa fa-times fa-pencil"></i>
                                    <div class="tooltip">Click Me</div>
                                </div>
                                <div class="form">
                                    <h3>Đăng Nhập Tài Khoản</h3>
                                    <form action="/Home/DoTask" method="post">
                                        <input type="text" name="email" placeholder="Email" required="">
                                        <input type="password" name="password" placeholder="Password" required="">
                                        <span class="text-center text-danger"> @TempData["Ms"]</span>
                                        <input type="submit" value="Đăng Nhập">
                                    </form>
                                </div>
                                @{
                                    Html.RenderAction("CreateUser", "Home");
                                }
                                <div class="cta"><a href="#">Quên Mật Khẩu?</a></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- //bootstrap-pop-up -->
    <!-- nav -->
    @{
        Html.RenderAction("Menu", "Layout");
    }
    <!-- //nav -->
    <!-- banner -->
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Subscribe to us</h2>
                        <div class="w3ls_footer_grid_left1_pos">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Your email..." required="">
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="@Url.Action("Index","Home")">
                        <h2>One<span>Movies</span></h2>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2016 One Movies. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>

            @{
                Html.RenderAction("Footer", "Layout");
            }
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/Site/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>

</html>