@model IEnumerable<Movie.Models.Account>

@{
    ViewBag.Title = "Danh Sách Tài Khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-header py-1">
    <h4 class="m-0 font-weight-bold text-primary text-center">Danh Sách Quản Trị Viên</h4>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Avartar
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Loại TK
                    </th>
                    <th>
                        Ngày Tạo
                    </th>
                    <th>
                        Trạng Thái
                    </th>
                    <th>Tác Vụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        <img src="@Html.DisplayFor(modelItem => item.Avartar)" style="width:50px" alt="Alternate Text" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a href="@Url.Action("Details","Accounts" ,new { id=item.Id})" title="Chi Tiết"><i class="fas fa-info-circle" style="font-size: 1.6rem;color: rgb(17, 0, 255);"></i></a>
                        <a href="@Url.Action("Edit","Accounts" ,new { id=item.Id})" title="Sửa"><i class="fas fa-edit" style="font-size: 1.5rem; color: rgb(0, 255, 0);"></i></a>
                        <a href="@Url.Action("Delete","Accounts" ,new { id=item.Id})" title="Xóa"><i class="fas fa-trash-alt" style="font-size:1.5rem ; color: rgb(250, 115, 115);"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <span class="btn btn-primary pt-2">
            @Html.ActionLink("Thêm Người Quản Trị", "Create")
        </span>
    </div>
</div>